{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        
    </head>
    <body

        {% if exception_occured %}
            style="background-image: url('https://images.pexels.com/photos/3008509/pexels-photo-3008509.jpeg?auto=compress&cs=tinysrgb&w=1600');"
        {% else %}
            style="background-image: url('{{ image_url }}');"
        {% endif %}>

        <div class="container">
            <h1>Weather App</h1>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="city" placeholder="Enter city">
                <button class="btn" type="submit">search</button>
            </form>
            <div class="weather">
                <div class="left">
                    <h2>{{temp}}&#176;C</h2>
                    <h6>feels like {{feels_like}}&#176;C<br>
                    from {{temp_min}}&#176;C to {{temp_max}}&#176;C</h6>
                    <h4>{{city}}</h4>
                </div>
                <div class="right">
                    <div class="icon">
                        <p>
                            <img src="http://openweathermap.org/img/w/{{ icon }}.png" with="100px">
                        </p>
                    </div>
                    <div class="condition">
                        <h3>{{ description }}</h3>
                        <h5>humidity {{ humidity }}</h5>
                        <h6>{{ day }}</h6>
                    </div>
                </div>
            </div>
        </div>
        {% if exception_occured %}
        <script>
            window.onload = function(){
                alert("City information is not available to our API")
            }
        </script>
        {% endif %}
    </body>
</html>